{% extends 'plantilla.html' %}
{% block title %}Editar Álbum{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="display-1 text-center">Editar Álbum</h1>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4 mb-5">
            <form action="/actualizar/{{ album.0 }}" method="POST">
                <div class="mb-3">
                    <label for="txtTitulo" class="form-label">Título</label>
                    <input type="text" class="form-control" name="txtTitulo" id="txtTitulo" value="{{ album.1 }}">
                </div>
                <div class="mb-3">
                    <label for="txtArtista" class="form-label">Artista</label>
                    <input type="text" class="form-control" name="txtArtista" id="txtArtista" value="{{ album.2 }}">
                </div>
                <div class="mb-3">
                    <label for="txtAnio" class="form-label">Año</label>
                    <input type="number" class="form-control" name="txtAnio" id="txtAnio" value="{{ album.3 }}">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
