
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD_ALBUMS</title>
</head>
<body>


    <br>
    <br>
    <h1><center>Crud de Albums</center></h1>
    <br>
    <br>
    <form action= "/guardar" method="POST">
        <center>
        <input type="text" name="Titulo" id="Titulo" placeholder="Titulo">
        <input type="text" name="Artista" id="Artista" placeholder="Artista">
        <input type="Date" name="Anio" id="Anio" placeholder="Anio">
        <br>
        <br>
        <br>
        <br>

        <button type="submit" name="guardar" id="guardar">Guardar</button>
            
            
        </center>
    </form>
    
</body>
</html>


